body{
    font-family: 'Tajawal', sans-serif !important;
    background-color: whitesmoke;
}


.appHome{
    background-image:url(https://i.ibb.co/k6tkpv0/BG-3.png);
    min-height: 100%;
    width: 100%;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.marg{
    margin: 15px 395px;
}


.homeUser{
    margin: 126px 74px;
}

.homeUser .UserForm{
    text-align: right;
    background-color: white;
    padding: 3pc;

}

.homeUser .col-md-8{
    margin: 0;
    padding: 0;
}

.homeUser .col-md-4{
    margin: 0;
    padding: 0;
}

.homeUser .UserForm h2{
    font-weight: 600;
}


.homeUser .UserForm p{
    font-size: 14px;
    margin: 27px 0px;
    color: gray;
}

.homeUser .UserForm form{

}

.homeUser .UserForm input{

    display: block;
    width: 100%;
    text-align: right;
    border: none;
    border-bottom: 1px solid #c2c1c1;
    margin-bottom: 45px;
    font-size: 14px;
    padding-bottom: 6px;

}

.homeUser .UserForm .forgetPass{
    direction: rtl;

}

.homeUser .UserForm .forgetPass a{

}

.homeUser .UserForm .checkForm {
    position: absolute;
    left: 98px;
}

.homeUser .UserForm .checkForm input{
    display: inline;
    margin-bottom: 0;
}

.homeUser .UserForm .checkForm small{
    position: relative;
    top: -27px;
    left: -35px;
    font-weight: 600;
}


.homeUser .UserForm .Helper {
    margin-top: 13px;
    font-size: 13px;
}

.homeUser .UserForm .Helper a{

}


.systemBtn{
    width: 100%;
    background-color: #c50024;
    border: none;
    color: white;
    padding: 9px;
    margin-top: 16px;
    cursor: pointer;
}

.homeUser .logoPart{
    padding-top: 50%;
    background-image: url(../img/Img.png);
    width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

.homeUser .logoPart .LogoBack{
    background-color: #c50024;
    text-align: center;
    width: 128px;
    height: 115px;
    margin: auto;
    padding-top: 27px;
    border-radius: 6px;

}

.homeUser .logoPart .LogoBack img{
    width: 93px;
}







.flex{
    display: flex;
}








.breadcrumb li{
    direction: ltr;
    font-size: 15px;
    font-weight: 800;
}



.navHead{
background-color: #444444;
padding: 7px;
}


.navHead .btn{

    margin: auto;
    float: right;
    background-color: #b37912;
}
.navHead .fa-house{

}

.navHead input{
    background-color: #e5e5e5;
    border: 1px solid #c5c3c3;
    font-size: 14px;
    padding: 7px;
    width: 182px;
    border-radius: 14px;
    font-size: 11px;
    height: 29px;
    margin-right: 34px;
    margin-top: 6px;
}

.navHead svg{
    color: gray;
}


.navHead .aboutUser{

    display: flex;
    float: left;
    direction: ltr;

}

.navHead .aboutUser svg{
    margin: 8px;
    display: none;
}

.navHead .aboutUser img{

    width: 39px;
    height: 36px;
    display: none;
}

.navHead .userName{
    text-align: left;
    margin-left: 8px;
    margin-right: 21px;
    margin-top: 5px;

}

.navHead .userName h6{
    font-size: 13px;
    margin-bottom: 0;
    color: black;
    font-weight: 700;
}

.navHead .userName select{
    border: none;
    font-size: 10px;
    color: #343434;
    position: relative;
    top: -3px;
    background-color: transparent;
}

.navHead .userName svg{

}

.breadcrumb{
    padding: 5px 0px;
    margin: 0px 0px 0px 0px;
}

.form-contact label {
    font-size: 14px;
}

table{
    margin-top: 15px;
    background-color: #f9f9f9 !important;
}

form{
    margin-top: 26px;
}


.breadcrumb ul{
    list-style: none;
    margin: 0;
}




.latestFiles{
    direction: rtl;
    text-align: right;
}

.sideBarCustomizeClose{
    display: none;
    transform: rotateZ(180deg);
}



.sideMenu::-webkit-scrollbar {
    width: 5px;
    z-index: 9999;
  }

  .sideMenu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #1d2d3c5e;
  }

  .sideMenu::-webkit-scrollbar-thumb {
    background-color:#b0802c;
    outline: 1px solid #b0802c;
  }


.latestFiles .sideMenu{
    width: 213px;
    float: right;
    margin: 0px 0px;
    box-shadow: -3px 0px 2px -2px #b0b0b0;
    z-index: 9;
    background-color: #0a0a0a;
    overflow-x: scroll;
    position: fixed;
    bottom: 0;
    top: 0;
}

.latestFiles .sideMenu .userImg{
    width: 74px;
    margin-bottom: 20px;

}

.latestFiles .sideMenu .userName{
    margin-bottom: 0;
}

.latestFiles .sideMenu .userTitle{

}

.userDetails{
    text-align: center;
    margin-bottom: 0;
    margin-top: 21px;
    position: relative;
}

.userDetails .fa-right-to-bracket{
    color: white;
    position: absolute;
    left: 9px;
    top: -13px;
    border: 1px solid #bcbcbc;
    padding: 8px;
    border-radius: 17px;
    cursor: pointer;
}

.innerContent{
    padding-bottom: 20px;
    padding-right: 213px;
}

.innerContent .headCon{

    background-color: #f0efef;
    margin-right: 20%;
    padding: 16px;
    border-radius: 9px;
    margin-bottom: 31px;

}

.innerContent .headCon .titlePage{

}

.innerContent .headCon .titlePage h2{

}
.innerContent .headCon .titlePage p{

    color: gray;

}

.innerContent .headCon .statBox{
    background-color: #1d2d3c;
    color: white;
    padding: 15px;
    border-radius: 9px;
}

.innerContent .headCon .statBox h5{
    margin-bottom: -1px;
    font-size: 14px;
}

.innerContent .headCon .statBox small{

}

.innerContent .headCon .statBox svg{
    position: absolute;
    top: 19px;
    left: 39px;
    font-size: 30px;
}




.orderForm{

}


.orderForm .fa-plus{
    padding: 3px;
    font-size: 12px;
    border-radius: 100%;
    position: absolute;
    right: 38px;
    border: 2px solid #1d2d3c;
    color: #1d2d3c;
}

.titleSection{
    margin-bottom: 19px;
}

.orderForm button{
    width: 100%;
    border: none;
    padding: 15px;
    margin-bottom: 11px;
    border-radius: 6px;
}

.orderForm button{

}

.tableForm{
    margin-top: 25px;
}

.tableForm .form-control{
    width: 202px;
}

.tableForm .tableTools{
    text-align: left;
}

.tableForm .tableTools svg{
    margin-right: 6px;
    color: gray;
    border: 1px solid #b5b3b3;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
}


.filesTable{
    font-size: 14px;
}

.filesTable input{

}

.filesTable svg{
    color: #8e8e8e;
}

.filesTable img{
    width: 27px;
    border-radius: 100%;
}

.filesTable .publish{
    width: 57px;
    height: 23px;
    background-color: green;
    color: white;
    text-align: center;
    border-radius: 4px;
    font-size: 10px;
    padding-top: 5px;
}

.filesTable .pending{
    width: 57px;
    height: 23px;
    background-color: #ecbb2e;
    color: white;
    text-align: center;
    border-radius: 4px;
    font-size: 10px;
    padding-top: 4px;
    font-weight: 600;
}

.filesTable .rejected{
    width: 57px;
    height: 23px;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 4px;
    font-size: 10px;
    padding-top: 4px;
    font-weight: 600;
}




.dataTables_filter{
    display: none;
}


.dataTables_length{
    display: none;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #1d2d3c;
    border-color: #1d2d3c;
}

.page-link{
    color: #1d2d3c;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    color: #1d2d3c;
}


/* Fixed sidenav, full height */
.sidenav {
    margin: 0px 0px;
    position: relative;
  }

  .sidenav a, .dropdown-btn{
      color: white;
  }

.sidenav .icon{
    float: right;
    margin-left: 10px;
    color: #ffffff;
}
  .notMsg{
    background-color: #1d2d3c;
    color: white;
    padding: 3px 7px;
    border-radius: 100%;
    font-size: 10px;
    position: absolute;
    left: 19px;
  }



  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 10px 19px 10px 19px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: right;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    border-radius: 0;
    margin-bottom: 9px;
}

  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    background-color: #d89a2d;
    color: white !important;
  }

  table{
    border: 1px solid #c8c8c8;
  }


  .table thead th{
    border: 1px solid #cacaca;
  }

  thead{
    background-color: #d5d5d5;
  }

  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  /* Add an active class to the active dropdown button */


  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    color: white;
    padding-left: 0;
    background-color: #000000;
    margin-left: 1px;
    display: none;
  }

  .dropdown-container a{
    padding: 7px 19px 7px 7px;
    margin-bottom: 0;
    font-size: 12px;
    color: #d89a2d !important;
    font-weight: 700;

  }

  .dropdown-container a:hover{
    border-radius: 0;

  }

  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: left;
    padding-right: 8px;
    color: #ffffff;
  }




  .addClient{

    margin: 95px 425px;
    direction: rtl;
    box-shadow: 0px 0px 20px 1px #cecece;
    padding: 32px;
    border-radius: 21px;

  }

  .addClient .clientHead{
    margin-bottom: 24px;
}

.addClient .clientHead h4{

    text-align: right;
    font-size: 33px;

}

.addClient .clientHead .svgUser{
    background-color: #b8b6b6;
    padding: 32px;
    border-radius: 32px;
    font-size: 28px;
}

.addClient .clientHead .addIcon{
    position: relative;
    top: 9px;
    left: 25px;
    background-color: white;
    border: 2px solid #212529;
    border-radius: 100%;
    padding: 4px;
}

.addClient .clientForm{

}

.addClient .clientForm input{
    font-size: 14px;
    color: #7a7a7a;
}

.addClient .clientForm .input-group{
    margin-bottom: 17px;
}


.addClient .terms{
    text-align: right;
    margin-top: 8px;
}


.addClient .terms h4{
    margin-bottom: 17px;
}


.input-group > .input-group-prepend > .input-group-text {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.input-group > .form-control:not(:first-child){
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.btnGroub{
    margin-bottom: 18px;
}

.addClient .systemBtn{
    border-radius: 5px;
}




.FilterInputs{
    background-color: whitesmoke;
    padding-top: 6px;
    padding-right: 16px;
}











.bulidingInput{
    padding: 20px 0px;
}

.bulidingInputForm{

}

.location img{
    width: 20px;
}





.bulidingImgs{

}

.bulidingImgs h3{
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    color: #1d2d3c;
}

.bulidingImgs img{

    height: 227px;
    width: 100%;
    margin-bottom: 9px;

}



.navHead .btn:hover {

    background-color: #b37912;
    color: white;
}

.alert-primary {
    color: #000000;
    background-color: #d4edda;
    border-color: #c3e6cb;
    font-weight: 400;
}



/*** frame work ***/


.table th, .table td {
    padding: 4px !important;
    vertical-align: middle !important;
    border: 1px solid #dee2e6;
}

.table td{
    font-size: 14px;
}


.form-control{
    height: calc(39px + 2px);
    font-size: 12px;
    background-color: #fafafa;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(28px + 2px);
}

.examplePage{

}


input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid #1d2d3c;
    border-radius: 0.2em;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    padding-right: 4px;
    float: right;
    margin-left: 11px;
  }

  input[type=checkbox] + label:active:before {
    transform: scale(0);
  }

  input[type=checkbox]:checked + label:before {
    background-color: #1d2d3c;
    border-color: #1d2d3c;
    color: #fff;
  }

  input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }

  input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #1d2d3c6e;
    border-color: #1d2d3c6e;
  }


.card form label{
    color: #154086;
    font-weight: 700;
}


.card form .form-control{
    background-color: #e6e6e6;
}


.t-29{

    top: 29px;
}


.switch {
    margin: 0px;
    position: relative;
    display: inline-block;
    width: 47px;
    height: 22px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #1d2d3c;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #1d2d3c;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }




.file-upload {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1d2d3c;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }

  .file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }

  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }

  .file-upload-content {
    display: none;
    text-align: center;
  }

  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }

  .image-upload-wrap {
    border: 4px dashed #1d2d3c;
    position: relative;
  }

  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #1d2d3c;
    border: 4px dashed #ffffff;
  }

  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }

  .drag-text {
    text-align: center;
    background-color: #e6e6e6;
  }

  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 10px 0;
    font-size: 14px;
    margin: 0;
  }

  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }

  .remove-image {
    width: auto;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
  }

  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }

  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }



.card{
    background-color: #f4f4f4;
    border: none;
    box-shadow: 0px 0px 1px 0px grey;
    padding: 15px;
}


.btnStyle2{
    border: 1px solid #1d2d3c;
    background-color: transparent;
   color: #1d2d3c;
   border-radius: 5px;
   padding: 10px;
   float: right;
   font-weight: 600;
   cursor: pointer;
}

form label{
    font-size: 14px;
    margin-bottom: 4px;
    color: #1d2d3c;
    font-weight: 600;
    display: block;
}

.form-group {
    margin-bottom: 10px;
}


.tox .tox-edit-area__iframe{
    height: 150px;
}

.lgBtn{
    width: 200px;
}


.btnStyle2:hover{
    background-color: #1d2d3c;
    color: white;
}

.btn:hover{
    border: 1px solid #1d2d3c;
    background-color: transparent;
   color: #1d2d3c;
}

.btn{
    display: block;
    margin: 8px auto;
    color: white;
    font-weight: 600;
    padding: 7px;
    font-size: 13px;
}

.m-t-26{
    margin-top: 26px;
}

a:hover{
    text-decoration: none;
}


/**** frame work ****/















.mobHead{
    background-color: #e0e0e0;
    display: none;
    width: 100%;
    z-index: 99999;
    height: 50px;
    position: absolute;
}

.mobHead svg{

    margin-top: 15px;
    font-size: 19px;

}

.mobHead img {

    width: 39px;
    float: left;
    margin-top: 5px;

}

.outing{
    z-index: 99999;
    position: fixed;
    background-color: #0000008f;
    height: 100%;
    width: 100%;
    top: 0;
    display: none;
}





.editModel{
    text-align: right;
    direction: rtl;
}


.remp{
    position: relative;
    top: -32px;
}


.remp .fieldset{

}


/*
.loginForm h6{
    font-weight: 600;
}


.loginForm button{
background-color: #d89a2d;
border-color: #d89a2d;
}


.login{


    background-color: #0f0f0f;
    padding: 151px 570px;
    position: fixed;
    width: 100%;
    bottom: 0;
    top: 0;
} */

.logout{
    font-size: 11px;
    color: #fcfcfc;
    font-weight: 800;
}
/*
.login .logoSec{
    text-align: center;
    padding: 34px 15px;
}

.login .logoSec img{
    width: 100px;
}

.login .loginForm{

    text-align: center;
    background-color: white;
    color: black;
    padding: 5px 49px 38px;
    border-radius: 6px;

}


.login .loginForm form{

}

.login .loginForm form label{
    text-align: right;
    color: #04102c;
    font-weight: 800;
    font-size: 9px;

}

.login .loginForm form input{
    width: 100%;
    background-color: transparent;
    border: 1px solid #b2b2b2;
    margin-bottom: 17px;
    padding: 7px 6px;
}

.login .loginForm .rem{

    display: flex;
    direction: rtl;
    position: relative;
    margin-top: 6px;

}

.login .loginForm .rem input{
    display: block;
    margin-left: 5px;
}


.login .loginForm .rem span{
    font-size: 11px;
}

.login .loginForm .rem p{
    font-size: 10px;
    color: white;
    position: absolute;
    left: 0;

}

.login .loginForm .rem a{

}

.login .loginForm .remFel{
    direction: rtl;
    text-align: right;
    position: relative;
    margin-top: 21px;
}
.login .loginForm .remFel small {
    color: #4eb2ff;
    cursor: pointer;
}




.login .loginForm .remFel .btn{
    border: none;
    background-color: #54a0f7;
    color: white;
    font-size: 11px;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

.login .loginForm .qucAcc{

    margin-top: 38px;
    font-size: 11px;

}




.login .loginForm .qucAcc p{

} */




.file-upload__input {
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }



.file-upload__label {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    color: #000;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
    padding: 15px;
    pointer-events: none;
    text-align: center;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-user-select: none;
    white-space: nowrap;
  }


  input[type="file"] {
    display: block;
  }
  .imageThumb {
    max-height: 75px;
    border: 2px solid;
    padding: 1px;
    cursor: pointer;
  }
  .pip {
    display: inline-block;
    margin: 10px 10px 0 0;
  }
  .remove {
    display: block;
    background: #444;
    border: 1px solid black;
    color: white;
    text-align: center;
    cursor: pointer;
  }
  .remove:hover {
    background: white;
    color: black;
  }



.login  .form-control {
display: block;
width: 100%;
text-align: left;
margin-bottom: 18px;
height: calc(1.5em + 0.75rem + 2px);
padding: 0.375rem 0.75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: 0.25rem;
-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
-o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }
@media (prefers-reduced-motion: reduce)


{
.login   .form-control {
-webkit-transition: none;
-o-transition: none;
transition: none; } }
.login  .form-control::-ms-expand {
background-color: transparent;
border: 0; }
.login  .form-control:focus {
color: #495057;

border-color: #80bdff;
outline: 0;
-webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
.login  .form-control::-webkit-input-placeholder {
color: #6c757d;
opacity: 1; }
.login  .form-control:-ms-input-placeholder {
color: #6c757d;
opacity: 1; }
.login  .form-control::-ms-input-placeholder {
color: #6c757d;
opacity: 1; }
.login  .form-control::placeholder {
color: #6c757d;
opacity: 1; }
.login  .form-control:disabled, .form-control[readonly] {
background-color: #e9ecef;
opacity: 1; }

.login  select.form-control:focus::-ms-value {
color: #495057;
background-color: #fff; }

.login  .form-control-file,
.login  .form-control-range {
display: block;
width: 100%; }

.login  .col-form-label {
padding-top: calc(0.375rem + 1px);
padding-bottom: calc(0.375rem + 1px);
margin-bottom: 0;
font-size: inherit;
line-height: 1.5; }

.login  .col-form-label-lg {
padding-top: calc(0.5rem + 1px);
padding-bottom: calc(0.5rem + 1px);
font-size: 1.25rem;
line-height: 1.5; }

.login  .col-form-label-sm {
padding-top: calc(0.25rem + 1px);
padding-bottom: calc(0.25rem + 1px);
font-size: 0.875rem;
line-height: 1.5; }

.login  .form-control-plaintext {
display: block;
width: 100%;
padding-top: 0.375rem;
padding-bottom: 0.375rem;
margin-bottom: 0;
line-height: 1.5;
color: #212529;
background-color: transparent;
border: solid transparent;
border-width: 1px 0; }
.login   .form-control-plaintext.form-control-sm, .form-control-plaintext.form-control-lg {
padding-right: 0;
padding-left: 0; }

.login  .form-control-sm {
height: calc(1.5em + 0.5rem + 2px);
padding: 0.25rem 0.5rem;
font-size: 0.875rem;
line-height: 1.5;
border-radius: 0.2rem; }

.login  .form-control-lg {
height: calc(1.5em + 1rem + 2px);
padding: 0.5rem 1rem;
font-size: 1.25rem;
line-height: 1.5;
border-radius: 0.3rem; }

.login  select.form-control[size], select.form-control[multiple] {
height: auto; }

.login  textarea.form-control {
height: auto; }

.login  .form-group {
margin-bottom: 1rem; }

.login   .form-text {
display: block;
margin-top: 0.25rem; }

.login  .form-row {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: -5px;
margin-left: -5px; }
.login   .form-row > .col,
.login   .form-row > [class*="col-"] {
padding-right: 5px;
padding-left: 5px; }

.login  .form-check {
position: relative;
display: block;
padding-left: 1.25rem; }

.login  .form-check-input {
position: absolute;
margin-top: 0.3rem;
margin-left: -1.25rem; }
.login   .form-check-input:disabled ~ .form-check-label {
color: #6c757d; }

.form-check-label {
margin-bottom: 0; }

.login  .form-check-inline {
display: -webkit-inline-box;
display: -ms-inline-flexbox;
display: inline-flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
padding-left: 0;
margin-right: 0.75rem; }
.login   .form-check-inline .form-check-input {
position: static;
margin-top: 0;
margin-right: 0.3125rem;
margin-left: 0; }




.bg-primary {
background: #fbceb5 !important; }

.login  .ftco-section {
padding: 7em 0; }

.login  .ftco-no-pt {
padding-top: 0; }

.login .ftco-no-pb {
padding-bottom: 0; }

.login  .heading-section {
font-size: 28px;
color: #fff; }

.login  .img {
background-size: cover;
background-repeat: no-repeat;
background-position: center center; }

.login .login-wrap {
position: relative;
color: rgba(255, 255, 255, 0.9);
margin: 0 4px;
}
.login    .login-wrap h3 {
font-weight: 800;
color: #fff;
margin: 23px 0px 24px !important;
    font-size: 23px;
}
.login  .login-wrap .social {
width: 100%; }
.login   .login-wrap .social a {
width: 100%;
display: block;
border: 1px solid rgba(255, 255, 255, 0.4);
color: #000;
background: #fff; }
.login    .login-wrap .social a:hover {
background: #000;
color: #fff;
border-color: #000; }

.login  .form-group {
position: relative; }

.login .field-icon {
position: absolute;
top: 50%;
right: 15px;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
color: rgb(154 132 48); }

.login .form-control {
background: transparent;
border: none;
height: 50px;
color: white !important;
border: 1px solid transparent;
background: rgb(255 255 255 / 17%);
border-radius: 40px;
padding-left: 20px;
padding-right: 20px;
-webkit-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s; }
@media (prefers-reduced-motion: reduce) {
.login    .form-control {
-webkit-transition: none;
-o-transition: none;
transition: none; } }
.login   .form-control::-webkit-input-placeholder {
/* Chrome/Opera/Safari */
color: rgba(255, 255, 255, 0.8) !important; }
.login    .form-control::-moz-placeholder {
/* Firefox 19+ */
color: rgba(255, 255, 255, 0.8) !important; }
.login    .form-control:-ms-input-placeholder {
/* IE 10+ */
color: rgba(255, 255, 255, 0.8) !important; }
.login   .form-control:-moz-placeholder {
/* Firefox 18- */
color: rgba(255, 255, 255, 0.8) !important; }
.login  .form-control:hover, .login .form-control:focus {
background: transparent;
outline: none;
-webkit-box-shadow: none;
box-shadow: none;
border-color: rgba(255, 255, 255, 0.4); }
.login   .form-control:focus {
border-color: rgba(255, 255, 255, 0.4); }

.login  textarea.form-control {
height: inherit !important; }

.login .checkbox-wrap {
display: block;
position: relative;
padding-left: 30px;
margin-bottom: 12px;
cursor: pointer;
font-size: 16px;
font-weight: 500;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none; }

/* Hide the browser's default checkbox */
.login .checkbox-wrap input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0; }

/* Create a custom checkbox */
.login .checkmark {
position: absolute;
top: 0;
left: 0; }

/* Create the checkmark/indicator (hidden when not checked) */
.login .checkmark:after {
content: "\f0c8";
font-family: "FontAwesome";
position: absolute;
color: rgba(255, 255, 255, 0.1);
font-size: 20px;
margin-top: -4px;
-webkit-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s; }
@media (prefers-reduced-motion: reduce) {
.login   .checkmark:after {
-webkit-transition: none;
-o-transition: none;
transition: none; } }

/* Show the checkmark when checked */
.login .checkbox-wrap input:checked ~ .checkmark:after {
display: block;
content: "\f14a";
font-family: "FontAwesome";
color: rgba(0, 0, 0, 0.2); }

/* Style the checkmark/indicator */
.login .checkbox-primary {
color: #f1f1f1 }
.login   .checkbox-primary input:checked ~ .checkmark:after {
color: #f1f1f1 }

.login .btn {
cursor: pointer;
border-radius: 40px;
-webkit-box-shadow: none !important;
box-shadow: none !important;
font-size: 15px;
text-transform: uppercase; }
.login  .btn:hover, .btn:active, .btn:focus {
outline: none; }
.login  .btn.btn-primary {
    background: #157fda !important;
border: 1px solid #157fda !important;
color: #fff !important;
text-align: center;
font-weight: 700;
}
.login   .btn.btn-primary:hover {
border: 1px solid #157fda;
background: transparent;
color: #157fda; }
.login .btn.btn-primary.btn-outline-primary {
border: 1px solid #157fda;
background: transparent;
color: #157fda; }
.login  .btn.btn-primary.btn-outline-primary:hover {
    border: 1px solid transparent;
    background: #157fda;
    color: #fff;

}

.heading-section{
width: 104px;
}


.login .text-md-right{
    text-align: right;
}

.login .opacity{
    background-color: #002a4ed9;
position: fixed;
width: 100%;
height: 100%;
bottom: 0;
top: 0;
}



.login{
height: 100%;
width: 100%;
position: fixed;
top: 0;
bottom: 0;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


.login .input:-internal-autofill-selected
{
    background-color: transparent !important
}

.SideOpen{
    border: none;
   background-color: transparent;
   color: black;
}



.drName{

    font-weight: 800;
    color: #fff;
    margin: 23px 0px 24px !important;
    font-size: 26px !important;

}
